<!--<footer class="foot">
        <p>Copyright &copy; 2017 Polling.com</p>
</footer>-->
<footer class="footer">
    <div class="container">
		<div>
			<lable style="float: left;" class="text-muted">Copyright &copy; 2017 VoteForKGP.in </lable>
        	<lable style="float: right;" class="text-muted">by anonymous</lable></div>
    	<!--<div class='cont'>
  			<div class='row'><i class='entypo-facebook'></i><i class='entypo-twitter'></i><i class='entypo-gplus'></i><i class='entypo-pinterest'></i><i class='entypo-dribbble'></i></div>
  		</div>-->
  		
	</div>
</footer>

